<div class="homesection1-body">
    <div class="left-elements">
        <div class="left-img">
            <img src="assets/home-left-side-vector.png" alt="background" />
        </div>
        <div class="homesection1-text">
            <h1>
                Welcome to  Medical Symptom Diagnosis Assistant. 
               
            </h1>
            <p>
                Get personalized insights and recommendations for your symptoms.<br>
                Empower your health journey today!
            </p>
            <button class="pop-up-button" id = "toggleButton">
                <a routerLink="#">
                Try Now!</a>
            </button>
<div id="chatbotContainer">

  
<!-- Chatbot content goes here -->

  
<p>
Welcome to the chatbot!
</p>
</div>

        </div>
    </div>
    <div class="right-elements">
        <!-- <div id="home-img-1">
            <img src="assets/food_diving.jpg" alt="header" />
        </div> -->
        <div id="home-img-2">
            <img src="assets/home-side-vector1.png" alt="logo" />
        </div>
    </div>
</div>

