<div class="AboutUs">
    <div class="flexbox">
        <div class="Content">
            <h1>About Us</h1>
            <p>We are a dedicated team at Code Rush, passionate about creating innovative
                 solutions for better healthcare. Our Medical Symptom Diagnosis Assistant aims to provide 
                 accurate symptom analysis and personalized recommendations, 
                empowering individuals to take control of their health with confidence.
                  working on a prototype of their website and mobile application,  
            
            </p>
        </div>
        <div class="image">
            <img src="assets/team.png" alt="team">
        </div>
    </div>
</div>